In [9]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
df1=pd.read_csv('Social_Network_Ads.csv')

In [2]:
df1=df1.drop('User ID',axis=1)

In [3]:
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [4]:
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df1['Gender']= label_encoder.fit_transform(df1['Gender'])

In [5]:
df1.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [6]:
X=df1[['Gender','Age','EstimatedSalary']]
Y=df1['Purchased']

In [7]:
from sklearn.model_selection import train_test_split

X_train1, X_test1, y_train1, y_test1 = train_test_split(X, Y,test_size=0.2,random_state = 0)

In [10]:
len(X)==len(Y)

True

In [29]:
max_depth_lst = [3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
min_samples_leaf_lst = [3,4,5,6,7,8]

In [30]:
for depth in max_depth_lst:
  for leaf in min_samples_leaf_lst:
    clf = DecisionTreeClassifier(max_depth = depth,min_samples_leaf = leaf)
    clf.fit(X_train1,y_train1)
    pred = clf.predict(X_test1)
    acc = accuracy_score(y_test1, pred)
    print(depth,leaf , acc)

3 3 0.95
3 4 0.95
3 5 0.95
3 6 0.95
3 7 0.95
3 8 0.95
4 3 0.9625
4 4 0.9625
4 5 0.9625
4 6 0.9625
4 7 0.9625
4 8 0.9625
5 3 0.9375
5 4 0.9375
5 5 0.9375
5 6 0.95
5 7 0.95
5 8 0.9625
6 3 0.925
6 4 0.9125
6 5 0.9375
6 6 0.95
6 7 0.95
6 8 0.9625
7 3 0.925
7 4 0.9125
7 5 0.9375
7 6 0.95
7 7 0.95
7 8 0.9625
8 3 0.925
8 4 0.9125
8 5 0.9375
8 6 0.95
8 7 0.95
8 8 0.9625
9 3 0.925
9 4 0.9125
9 5 0.9375
9 6 0.95
9 7 0.95
9 8 0.9625
10 3 0.925
10 4 0.9125
10 5 0.9375
10 6 0.95
10 7 0.95
10 8 0.9625
11 3 0.925
11 4 0.9125
11 5 0.9375
11 6 0.95
11 7 0.95
11 8 0.9625
12 3 0.925
12 4 0.9125
12 5 0.9375
12 6 0.95
12 7 0.95
12 8 0.9625
13 3 0.925
13 4 0.9125
13 5 0.9375
13 6 0.95
13 7 0.95
13 8 0.9625
14 3 0.925
14 4 0.9125
14 5 0.9375
14 6 0.95
14 7 0.95
14 8 0.9625
15 3 0.925
15 4 0.9125
15 5 0.9375
15 6 0.95
15 7 0.95
15 8 0.9625
16 3 0.925
16 4 0.9125
16 5 0.9375
16 6 0.95
16 7 0.95
16 8 0.9625
17 3 0.925
17 4 0.9125
17 5 0.9375
17 6 0.95
17 7 0.95
17 8 0.9625
18 3 0.925
18 4 0.9125
18 5 0.9375
18 6 0.95
18 7 0.95
18 8 0.9625
19 3 0.925
19 4 0.9125
19 5 0.9375
19 6 0.95
19 7 0.95
19 8 0.9625
20 3 0.925
20 4 0.9125
20 5 0.9375
20 6 0.95
20 7 0.95
20 8 0.9625
21 3 0.925
21 4 0.9125
21 5 0.9375
21 6 0.95
21 7 0.95
21 8 0.9625
22 3 0.925
22 4 0.9125
22 5 0.9375
22 6 0.95
22 7 0.95
22 8 0.9625
23 3 0.925
23 4 0.9125
23 5 0.9375
23 6 0.95
23 7 0.95
23 8 0.9625
24 3 0.925
24 4 0.9125
24 5 0.9375
24 6 0.95
24 7 0.95
24 8 0.9625
25 3 0.925
25 4 0.9125
25 5 0.9375
25 6 0.95
25 7 0.95
25 8 0.9625

In [32]:
clf = DecisionTreeClassifier(max_depth = 4,min_samples_leaf = 4)
clf.fit(X_train1,y_train1)
pred = clf.predict(X_test1)
acc = accuracy_score(y_test1, pred)
print(acc)

0.9625