In [61]:
import pandas as pd

df=pd.read_csv("california_housing_test.csv")

In [54]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,-118.30,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,-117.81,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,-118.36,33.82,28,67.0,15.0,49,11,6.1359,330000
4,-119.67,36.33,19,1241.0,244.0,850,237,2.9375,81700

In [55]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,NaN,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2996,NaN,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2997,-119.70,36.30,10,956.0,201.0,693,220,2.2895,62000
2998,-117.12,34.10,40,96.0,14.0,46,14,3.2708,162500
2999,-119.63,34.42,42,1765.0,263.0,753,260,8.5608,500001

In [56]:
df.isna().mean()

longitude             0.997000
latitude              0.002333
housing_median_age    0.000000
total_rooms           0.004000
total_bedrooms        0.001667
population            0.000000
households            0.000000
median_income         0.000000
median_house_value    0.000000
dtype: float64

In [60]:
df.isna().sum()

latitude               7
housing_median_age     0
total_rooms           12
total_bedrooms         5
population             0
households             0
median_income          0
median_house_value     0
dtype: int64

In [62]:
del df['longitude']

In [63]:
df=df.reset_index(drop=True)

In [64]:
df = df.dropna(subset = ['total_rooms'])

In [65]:
df=df.reset_index(drop=True)
df

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,33.82,28,67.0,15.0,49,11,6.1359,330000
4,36.33,19,1241.0,244.0,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...
2983,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2984,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2985,36.30,10,956.0,201.0,693,220,2.2895,62000
2986,34.10,40,96.0,14.0,46,14,3.2708,162500
2987,34.42,42,1765.0,263.0,753,260,8.5608,500001

In [67]:
df['latitude'] = df['latitude'].fillna(df['latitude'].mean())

In [69]:
df=df.reset_index(drop=True)
df

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,33.82,28,67.0,15.0,49,11,6.1359,330000
4,36.33,19,1241.0,244.0,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...
2983,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2984,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2985,36.30,10,956.0,201.0,693,220,2.2895,62000
2986,34.10,40,96.0,14.0,46,14,3.2708,162500
2987,34.42,42,1765.0,263.0,753,260,8.5608,500001

In [71]:
df.isna().sum()

latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        5
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [75]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].median())

In [76]:
df=df.reset_index(drop=True)
df

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,37.37,27,3885.0,661.0,1537,606,6.6085,344700
1,34.26,43,1510.0,310.0,809,277,3.5990,176500
2,33.78,27,3589.0,507.0,1484,495,5.7934,270500
3,33.82,28,67.0,15.0,49,11,6.1359,330000
4,36.33,19,1241.0,244.0,850,237,2.9375,81700
...,...,...,...,...,...,...,...,...
2983,34.42,23,1450.0,642.0,1258,607,1.1790,225000
2984,34.06,27,5257.0,1082.0,3496,1036,3.3906,237200
2985,36.30,10,956.0,201.0,693,220,2.2895,62000
2986,34.10,40,96.0,14.0,46,14,3.2708,162500
2987,34.42,42,1765.0,263.0,753,260,8.5608,500001

In [78]:
df[df['population']<df['population'].mean()]

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,34.260000,43,1510.0,310.0,809,277,3.5990,176500
3,33.820000,28,67.0,15.0,49,11,6.1359,330000
4,36.330000,19,1241.0,244.0,850,237,2.9375,81700
5,36.510000,37,1018.0,213.0,663,204,1.6635,67000
6,35.632603,43,1009.0,225.0,604,218,1.6641,67000
...,...,...,...,...,...,...,...,...
2982,33.860000,35,931.0,181.0,516,174,5.5867,182500
2983,34.420000,23,1450.0,642.0,1258,607,1.1790,225000
2985,36.300000,10,956.0,201.0,693,220,2.2895,62000
2986,34.100000,40,96.0,14.0,46,14,3.2708,162500
2987,34.420000,42,1765.0,263.0,753,260,8.5608,500001

In [88]:
new_df=df[['population','total_bedrooms']]
new_df.head()

   population  total_bedrooms
0        1537           661.0
1         809           310.0
2        1484           507.0
3          49            15.0
4         850           244.0

In [89]:
my_dict = df.set_index('total_bedrooms')['population'].to_dict()
my_dict

{661.0: 1847,
 310.0: 746,
 507.0: 1311,
 15.0: 32,
 244.0: 716,
 213.0: 488,
 225.0: 769,
 471.0: 1155,
 617.0: 1155,
 632.0: 1686,
 249.0: 1108,
 166.0: 401,
 182.0: 535,
 694.0: 770,
 1030.0: 2697,
 418.0: 1344,
 1609.0: 3751,
 954.0: 1941,
 220.0: 772,
 493.0: 836,
 705.0: 1693,
 2971.0: 8152,
 170.0: 903,
 726.0: 1905,
 451.0: 944,
 251.0: 894,
 203.0: 514,
 437.0: 1754,
 286.0: 564,
 1874.0: 3925,
 338.0: 733,
 369.0: 912,
 1698.0: 1825,
 1887.0: 4356,
 121.0: 426,
 500.0: 1223,
 380.0: 1177,
 333.0: 1689,
 233.0: 899,
 528.0: 1478,
 468.0: 1261,
 291.0: 784,
 600.0: 983,
 140.0: 408,
 317.0: 996,
 305.0: 979,
 299.0: 1535,
 399.0: 928,
 768.0: 2962,
 1212.0: 3559,
 319.0: 980,
 750.0: 2767,
 367.0: 927,
 382.0: 774,
 544.0: 1039,
 442.0: 861,
 419.0: 614,
 631.0: 1007,
 858.0: 1441,
 1002.0: 3129,
 130.0: 504,
 384.0: 882,
 324.0: 1076,
 1416.0: 3927,
 509.0: 1208,
 560.0: 1124,
 190.0: 775,
 345.0: 698,
 362.0: 1499,
 341.0: 706,
 169.0: 325,
 270.0: 999,
 1017.0: 3590,
 473.0: 1092,
 312.0: 522,
 348.0: 766,
 322.0: 1063,
 457.0: 1429,
 483.0: 1383,
 1344.0: 4367,
 430.0: 1074,
 506.0: 634,
 505.0: 965,
 422.0: 835,
 588.0: 1767,
 386.0: 248,
 439.0: 1469,
 314.0: 1140,
 297.0: 1012,
 438.0: 1308,
 481.0: 1584,
 318.0: 906,
 96.0: 261,
 592.0: 1419,
 238.0: 889,
 453.0: 1433,
 70.0: 220,
 1006.0: 1876,
 579.0: 1479,
 1003.0: 4551,
 827.0: 3868,
 515.0: 1606,
 391.0: 1088,
 618.0: 1728,
 368.0: 1048,
 623.0: 1938,
 340.0: 906,
 331.0: 1504,
 756.0: 2149,
 769.0: 1631,
 248.0: 902,
 563.0: 1144,
 501.0: 1128,
 677.0: 1920,
 460.0: 937,
 1516.0: 4862,
 606.0: 1645,
 1209.0: 5389,
 134.0: 837,
 242.0: 697,
 459.0: 1453,
 653.0: 2295,
 351.0: 846,
 662.0: 1867,
 349.0: 1426,
 842.0: 2446,
 847.0: 1796,
 383.0: 769,
 671.0: 1782,
 284.0: 800,
 658.0: 1386,
 773.0: 2380,
 642.0: 1258,
 350.0: 706,
 444.0: 498,
 841.0: 1986,
 265.0: 667,
 327.0: 1244,
 307.0: 633,
 693.0: 1480,
 397.0: 873,
 1081.0: 4818,
 416.0: 940,
 411.0: 1667,
 713.0: 2354,
 522.0: 1454,
 443.0: 1042,
 109.0: 287,
 748.0: 2383,
 191.0: 627,
 302.0: 809,
 1175.0: 2198,
 446.0: 1789,
 1187.0: 2475,
 229.0: 421,
 520.0: 1625,
 227.0: 875,
 428.0: 1208,
 269.0: 613,
 187.0: 499,
 555.0: 1153,
 370.0: 1293,
 398.0: 1046,
 518.0: 1472,
 445.0: 1339,
 363.0: 824,
 206.0: 521,
 1839.0: 3621,
 281.0: 859,
 420.0: 1032,
 276.0: 628,
 548.0: 1757,
 1636.0: 1350,
 250.0: 1292,
 1068.0: 3526,
 740.0: 1223,
 465.0: 1336,
 224.0: 334,
 814.0: 1941,
 1024.0: 2823,
 691.0: 1582,
 585.0: 1444,
 31.0: 191,
 607.0: 2868,
 357.0: 984,
 38.0: 78,
 496.0: 1206,
 232.0: 535,
 209.0: 601,
 738.0: 1374,
 517.0: 1454,
 378.0: 1305,
 358.0: 1233,
 851.0: 2059,
 554.0: 1952,
 211.0: 825,
 552.0: 1673,
 162.0: 754,
 727.0: 1725,
 236.0: 631,
 545.0: 1186,
 771.0: 1738,
 903.0: 1999,
 1827.0: 3208,
 339.0: 839,
 1406.0: 2877,
 933.0: 2047,
 1004.0: 3031,
 571.0: 1480,
 874.0: 2736,
 261.0: 823,
 410.0: 1176,
 364.0: 1835,
 290.0: 413,
 222.0: 625,
 414.0: 1507,
 120.0: 272,
 568.0: 2499,
 266.0: 676,
 262.0: 839,
 511.0: 1558,
 1820.0: 3717,
 484.0: 1248,
 423.0: 1578,
 292.0: 766,
 462.0: 520,
 274.0: 852,
 1253.0: 3699,
 354.0: 730,
 495.0: 1184,
 1062.0: 3360,
 490.0: 1192,
 176.0: 461,
 316.0: 865,
 741.0: 1481,
 450.0: 1122,
 477.0: 1672,
 948.0: 2997,
 4522.0: 4176,
 429.0: 1309,
 139.0: 299,
 1512.0: 3256,
 412.0: 1114,
 72.0: 153,
 541.0: 1022,
 716.0: 1862,
 532.0: 1220,
 436.0: 1084,
 486.0: 1681,
 636.0: 1382,
 347.0: 1039,
 1404.0: 3258,
 537.0: 1392,
 539.0: 1574,
 529.0: 1959,
 1055.0: 2742,
 320.0: 650,
 859.0: 1520,
 469.0: 1042,
 374.0: 1168,
 570.0: 1445,
 516.0: 1286,
 3493.0: 8768,
 648.0: 1780,
 1467.0: 2523,
 202.0: 615,
 610.0: 1978,
 593.0: 2419,
 264.0: 569,
 282.0: 525,
 306.0: 1690,
 268.0: 1274,
 586.0: 1702,
 1411.0: 4861,
 472.0: 1472,
 407.0: 1184,
 871.0: 3438,
 216.0: 842,
 205.0: 541,
 581.0: 1399,
 271.0: 1006,
 1065.0: 1715,
 154.0: 429,
 950.0: 2460,
 595.0: 966,
 784.0: 1902,
 489.0: 1196,
 315.0: 1090,
 482.0: 1623,
 152.0: 248,
 360.0: 1126,
 673.0: 1355,
 161.0: 448,
 417.0: 872,
 379.0: 955,
 1060.0: 3129,
 1185.0: 3555,
 435.0: 1256,
 390.0: 1330,
 685.0: 1741,
 652.0: 1726,
 714.0: 1603,
 930.0: 1614,
 400.0: 1112,
 629.0: 1689,
 589.0: 1725,
 373.0: 1758,
 245.0: 573,
 165.0: 407,
 470.0: 1669,
 1048.0: 2031,
 240.0: 702,
 540.0: 1236,
 395.0: 1127,
 725.0: 1897,
 478.0: 1235,
 730.0: 1846,
 476.0: 1231,
 2441.0: 6085,
 388.0: 895,
 243.0: 733,
 956.0: 2757,
 87.0: 208,
 300.0: 919,
 1278.0: 265,
 609.0: 1335,
 179.0: 1062,
 1025.0: 3444,
 682.0: 1981,
 372.0: 1467,
 289.0: 654,
 1075.0: 1611,
 104.0: 422,
 263.0: 753,
 798.0: 2582,
 1115.0: 2551,
 332.0: 846,
 519.0: 1447,
 298.0: 941,
 325.0: 1014,
 458.0: 1383,
 664.0: 1659,
 406.0: 1148,
 775.0: 2814,
 745.0: 2870,
 704.0: 1801,
 137.0: 371,
 567.0: 1072,
 627.0: 1628,
 396.0: 947,
 196.0: 662,
 200.0: 801,
 546.0: 1726,
 421.0: 1301,
 1011.0: 2588,
 260.0: 737,
 408.0: 1629,
 1510.0: 3288,
 510.0: 673,
 287.0: 699,
 1281.0: 2243,
 744.0: 1461,
 303.0: 888,
 86.0: 98,
 283.0: 721,
 230.0: 686,
 199.0: 543,
 278.0: 822,
 43.0: 94,
 558.0: 1660,
 385.0: 1356,
 536.0: 1034,
 635.0: 83,
 612.0: 1722,
 1005.0: 2099,
 514.0: 1437,
 147.0: 145,
 752.0: 1981,
 584.0: 628,
 447.0: 1265,
 564.0: 1591,
 782.0: 1161,
 547.0: 1615,
 1130.0: 3244,
 26.0: 69,
 328.0: 953,
 1979.0: 2980,
 309.0: 972,
 751.0: 2317,
 832.0: 1320,
 513.0: 1027,
 335.0: 969,
 256.0: 903,
 241.0: 877,
 731.0: 958,
 565.0: 1949,
 828.0: 2718,
 185.0: 713,
 301.0: 917,
 795.0: 2493,
 413.0: 1060,
 562.0: 971,
 1317.0: 3739,
 550.0: 918,
 454.0: 1323,
 174.0: 430,
 1617.0: 3731,
 177.0: 556,
 538.0: 969,
 402.0: 815,
 288.0: 532,
 19.0: 166,
 1353.0: 3123,
 812.0: 3196,
 480.0: 794,
 576.0: 1430,
 74.0: 354,
 208.0: 843,
 708.0: 1769,
 194.0: 265,
 499.0: 1733,
 365.0: 1888,
 267.0: 946,
 837.0: 2208,
 819.0: 2626,
 621.0: 1866,
 221.0: 688,
 765.0: 2734,
 296.0: 954,
 355.0: 866,
 353.0: 1140,
 927.0: 2239,
 389.0: 1623,
 1346.0: 5682,
 706.0: 1605,
 890.0: 2251,
 273.0: 804,
 352.0: 831,
 1073.0: 2725,
 42.0: 125,
 649.0: 1758,
 542.0: 1992,
 656.0: 1091,
 502.0: 1151,
 533.0: 1122,
 760.0: 2041,
 1302.0: 3191,
 763.0: 2198,
 598.0: 2133,
 901.0: 2398,
 464.0: 938,
 535.0: 1579,
 97.0: 208,
 1054.0: 2162,
 614.0: 2544,
 145.0: 450,
 2495.0: 4327,
 630.0: 2984,
 666.0: 1817,
 132.0: 443,
 852.0: 2356,
 530.0: 2067,
 786.0: 2053,
 8.0: 19,
 98.0: 119,
 1154.0: 2639,
 20.0: 32,
 1139.0: 2824,
 735.0: 2464,
 456.0: 1500,
 101.0: 401,
 1074.0: 3011,
 527.0: 2307,
 1191.0: 3238,
 1084.0: 3037,
 809.0: 2231,
 479.0: 1108,
 89.0: 182,
 669.0: 1571,
 393.0: 1890,
 675.0: 2374,
 183.0: 568,
 463.0: 805,
 1010.0: 2621,
 908.0: 3731,
 181.0: 516,
 394.0: 857,
 280.0: 657,
 159.0: 416,
 583.0: 1980,
 834.0: 2561,
 1222.0: 3455,
 246.0: 396,
 1067.0: 1620,
 432.0: 1197,
 512.0: 1532,
 323.0: 850,
 701.0: 1489,
 605.0: 1524,
 604.0: 1703,
 62.0: 188,
 4.0: 8,
 13.0: 31,
 985.0: 1926,
 597.0: 1777,
 531.0: 1390,
 1282.0: 3974,
 884.0: 2569,
 2062.0: 3591,
 899.0: 2258,
 356.0: 1286,
 776.0: 1569,
 433.0: 1193,
 753.0: 1753,
 195.0: 650,
 690.0: 1973,
 57.0: 178,
 330.0: 750,
 1182.0: 2602,
 172.0: 446,
 794.0: 2601,
 615.0: 1427,
 361.0: 917,
 757.0: 2659,
 210.0: 723,
 337.0: 853,
 431.0: 1282,
 207.0: 548,
 403.0: 1101,
 755.0: 2406,
 366.0: 1311,
 285.0: 728,
 573.0: 1631,
 640.0: 1722,
 953.0: 3866,
 651.0: 1553,
 441.0: 1252,
 986.0: 2647,
 424.0: 1041,
 63.0: 138,
 193.0: 454,
 186.0: 705,
 17.0: 87,
 1196.0: 1749,
 1035.0: 1687,
 228.0: 750,
 879.0: 1632,
 99.0: 485,
 434.0: 861,
 219.0: 441,
 1207.0: 2667,
 761.0: 1942,
 1533.0: 4225,
 1334.0: 1968,
 359.0: 786,
 237.0: 772,
 157.0: 716,
 295.0: 1097,
 715.0: 1673,
 1069.0: 2256,
 1046.0: 3555,
 51.0: 170,
 557.0: 1215,
 503.0: 1109,
 577.0: 1529,
 1447.0: 4520,
 149.0: 508,
 1703.0: 7302,
 455.0: 1238,
 214.0: 620,
 24.0: 37,
 695.0: 1258,
 1359.0: 1750,
 1167.0: 3012,
 1424.0: 4083,
 3173.0: 7301,
 343.0: 809,
 668.0: 1632,
 1111.0: 2843,
 912.0: 1301,
 231.0: 925,
 582.0: 1314,
 440.0: 1325,
 967.0: 889,
 115.0: 434,
 1432.0: 1749,
 376.0: 939,
 580.0: 1662,
 894.0: 2136,
 831.0: 2568,
 392.0: 1099,
 342.0: 638,
 712.0: 2346,
 2100.0: 7596,
 171.0: 531,
 508.0: 1372,
 381.0: 1384,
 474.0: 337,
 572.0: 925,
 279.0: 1053,
 524.0: 1516,
 2055.0: 6443,
 1097.0: 1919,
 5027.0: 11935,
 633.0: 1448,
 867.0: 2751,
 272.0: 773,
 729.0: 2051,
 119.0: 228,
 1059.0: 2258,
 1367.0: 3432,
 1001.0: 3538,
 697.0: 1565,
 643.0: 1639,
 124.0: 265,
 644.0: 2295,
 1064.0: 3278,
 153.0: 549,
 1131.0: 3003,
 616.0: 1839,
 377.0: 817,
 674.0: 1616,
 591.0: 1848,
 82.0: 319,
 102.0: 232,
 1489.0: 4250,
 146.0: 473,
 113.0: 398,
 466.0: 1359,
 461.0: 1332,
 659.0: 1822,
 346.0: 1277,
 622.0: 1095,
 126.0: 306,
 197.0: 881,
 201.0: 693,
 275.0: 971,
 844.0: 1581,
 226.0: 1094,
 112.0: 359,
 107.0: 348,
 138.0: 345,
 1934.0: 5452,
 1304.0: 2490,
 702.0: 3444,
 76.0: 196,
 1082.0: 3496,
 803.0: 1395,
 178.0: 770,
 1008.0: 2549,
 375.0: 988,
 823.0: 2635,
 1272.0: 2389,
 277.0: 864,
 601.0: 1247,
 492.0: 1202,
 2.0: 8,
 836.0: 1944,
 993.0: 1606,
 215.0: 646,
 559.0: 906,
 551.0: 1699,
 637.0: 1935,
 313.0: 660,
 797.0: 1916,
 491.0: 1277,
 127.0: 346,
 4135.0: 10877,
 234.0: 607,
 1134.0: 1941,
 891.0: 1103,
 1319.0: 2383,
 494.0: 1167,
 534.0: 1687,
 1112.0: 2958,
 787.0: 1581,
 924.0: 2656,
 958.0: 1622,
 785.0: 1817,
 989.0: 1020,
 88.0: 255,
 689.0: 1391,
 164.0: 568,
 1014.0: 1512,
 11.0: 76,
 34.0: 54,
 1000.0: 2975,
 156.0: 626,
 925.0: 3116,
 791.0: 1075,
 1603.0: 2957,
 110.0: 295,
 148.0: 347,
 587.0: 1277,
 717.0: 1683,
 1635.0: 2044,
 1058.0: 2852,
 404.0: 850,
 1750.0: 2136,
 613.0: 1280,
 1233.0: 4127,
 475.0: 1785,
 882.0: 356,
 999.0: 1691,
 734.0: 2605,
 504.0: 1462,
 497.0: 1406,
 163.0: 332,
 698.0: 1221,
 972.0: 2220,
 123.0: 317,
 2616.0: 7560,
 401.0: 397,
 1050.0: 1890,
 449.0: 1507,
 944.0: 1812,
 770.0: 2473,
 820.0: 2833,
 488.0: 1594,
 801.0: 3423,
 1022.0: 2585,
 1178.0: 3139,
 1137.0: 3094,
 175.0: 747,
 822.0: 622,
 184.0: 599,
 111.0: 329,
 371.0: 1267,
 1012.0: 2184,
 992.0: 4660,
 1217.0: 2801,
 12.0: 27,
 1268.0: 2023,
 1199.0: 3121,
 2112.0: 6810,
 1107.0: 2239,
 5.0: 14,
 14.0: 46,
 655.0: 1970,
 192.0: 543,
 646.0: 1837,
 1047.0: 3707,
 217.0: 887,
 574.0: 2046,
 427.0: 1151,
 415.0: 1345,
 608.0: 709,
 793.0: 2693,
 253.0: 912,
 67.0: 100,
 467.0: 2272,
 1761.0: 5804,
 780.0: 2181,
 258.0: 706,
 975.0: 3775,
 254.0: 885,
 487.0: 1386,
 854.0: 2983,
 1033.0: 2524,
 409.0: 1141,
 59.0: 213,
 840.0: 2546,
 1699.0: 3331,
 255.0: 434,
 1326.0: 2681,
 1145.0: 3445,
 150.0: 492,
 625.0: 1912,
 2010.0: 2913,
 742.0: 1670,
 1860.0: 4591,
 549.0: 1108,
 64.0: 149,
 1063.0: 3077,
 387.0: 1274,
 696.0: 2003,
 329.0: 999,
 737.0: 1795,
 198.0: 498,
 35.0: 477,
 1566.0: 2065,
 1245.0: 2847,
 1208.0: 3707,
 624.0: 1543,
 155.0: 417,
 44.0: 6675,
 1369.0: 3781,
 485.0: 914,
 293.0: 753,
 69.0: 374,
 845.0: 2023,
 2426.0: 7343,
 711.0: 1919,
 718.0: 780,
 5419.0: 7431,
 710.0: 2283,
 1285.0: 3670,
 129.0: 642,
 1242.0: 2450,
 2207.0: 4713,
 4055.0: 8824,
 1264.0: 2363,
 777.0: 2118,
 321.0: 590,
 596.0: 1947,
 143.0: 458,
 2552.0: 2548,
 1342.0: 3399,
 654.0: 1383,
 1007.0: 3502,
 873.0: 2069,
 789.0: 3500,
 963.0: 2206,
 1021.0: 2614,
 641.0: 1106,
 626.0: 1768,
 707.0: 2004,
 405.0: 967,
 1201.0: 2733,
 952.0: 1484,
 1570.0: 3823,
 578.0: 1538,
 2161.0: 1874,
 304.0: 1128,
 294.0: 521,
 918.0: 1526,
 1240.0: 3900,
 764.0: 2222,
 523.0: 1132,
 1545.0: 3804,
 334.0: 570,
 239.0: 550,
 869.0: 3668,
 1579.0: 2796,
 1645.0: 3001,
 1051.0: 2415,
 1105.0: 3196,
 1192.0: 2280,
 628.0: 1970,
 142.0: 572,
 180.0: 479,
 2162.0: 5640,
 168.0: 494,
 131.0: 356,
 344.0: 807,
 336.0: 1080,
 218.0: 479,
 772.0: 1878,
 813.0: 1302,
 311.0: 1158,
 749.0: 2459,
 830.0: 2297,
 452.0: 1282,
 878.0: 2361,
 1313.0: 2738,
 73.0: 222,
 212.0: 820,
 1225.0: 4168,
 672.0: 1674,
 1539.0: 4333,
 1441.0: 2803,
 128.0: 194,
 116.0: 300,
 736.0: 1473,
 728.0: 2098,
 1364.0: 3970,
 100.0: 348,
 135.0: 466,
 594.0: 1757,
 670.0: 1305,
 2696.0: 6223,
 864.0: 1335,
 1417.0: 4095,
 639.0: 1160,
 2211.0: 3959,
 1181.0: 3570,
 1141.0: 2768,
 173.0: 453,
 4585.0: 7604,
 247.0: 441,
 938.0: 3064,
 923.0: 1677,
 2501.0: 2725,
 681.0: 1904,
 971.0: 2144,
 252.0: 773,
 448.0: 1087,
 815.0: 2456,
 1371.0: 1050,
 1385.0: 2447,
 1101.0: 2049,
 1678.0: 5303,
 1188.0: 4163,
 575.0: 2120,
 929.0: 2508,
 966.0: 1756,
 619.0: 1756,
 1220.0: 981,
 105.0: 212,
 969.0: 1152,
 881.0: 1994,
 767.0: 1557,
 2130.0: 4936,
 160.0: 502,
 61.0: 152,
 1254.0: 2834,
 1989.0: 2853,
 843.0: 1571,
 1721.0: 11139,
 1271.0: 2260,
 647.0: 1337,
 802.0: 2487,
 2252.0: 4276,
 645.0: 1674,
 108.0: 35,
 1352.0: 1799,
 235.0: 452,
 1589.0: 3409,
 45.0: 77,
 136.0: 353,
 1409.0: 3887,
 1330.0: 3418,
 553.0: 1370,
 804.0: 1945,
 935.0: 2834,
 857.0: 2328,
 863.0: 2145,
 47.0: 137,
 1415.0: 3264,
 257.0: 671,
 78.0: 188,
 117.0: 383,
 1092.0: 1807,
 1042.0: 1745,
 778.0: 1775,
 2508.0: 4086,
 426.0: 919,
 590.0: 1319,
 684.0: 2141,
 1565.0: 3857,
 521.0: 901,
 998.0: 3441,
 602.0: 1601,
 1915.0: 4783,
 1295.0: 3599,
 106.0: 389,
 603.0: 1130,
 1455.0: 3525,
 326.0: 1115,
 525.0: 1218,
 686.0: 970,
 934.0: 2575,
 796.0: 2153,
 680.0: 1559,
 984.0: 1933,
 2219.0: 4249,
 951.0: 2166,
 125.0: 355,
 5033.0: 9419,
 543.0: 1133,
 1116.0: 1986,
 2727.0: 5964,
 1316.0: 4797,
 65.0: 198,
 1594.0: 3029,
 790.0: 1912,
 1270.0: 2024,
 676.0: 2510,
 92.0: 267,
 945.0: 2307,
 118.0: 370,
 846.0: 1277,
 7.0: 21,
 498.0: 899,
 868.0: 2583,
 849.0: 2751,
 679.0: 1237,
 1318.0: 3853,
 71.0: 157,
 1710.0: 2665,
 1096.0: 2994,
 932.0: 2817,
 906.0: 2076,
 1263.0: 3704,
 825.0: 3152,
 556.0: 1692,
 1509.0: 3575,
 1333.0: 3868,
 877.0: 2008,
 634.0: 1025,
 997.0: 3464,
 994.0: 1334,
 188.0: 663,
 1020.0: 3754,
 1102.0: 1941,
 1095.0: 3213,
 2444.0: 7235,
 875.0: 2404,
 54.0: 145,
 3.0: 5,
 ...}

In [77]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [ ]:
scaler1 = MinMaxScaler()
df2[["Units Sold_MinMaxScalled"]] = scaler.fit_transform(df[["Units Sold"]])
scaler2 = StandardScaler()
df2[["Units Sold_StandardScalled"]] = scaler.fit_transform(df[["Units Sold"]])
ohe = OneHotEncoder(sparse=False)

result = ohe.fit_transform(df[['Segment']])